/* You can add global styles to this file, and also import other style files */

table {
    border-spacing: 3px;
    border-collapse: inherit;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.cell {
  height: 100%;
  width: 100%;
}
  .cell.diamond {
    background-image: url(/assets/img/diamond.png);
    background-repeat: no-repeat;
    background-size: 100% 
  }
  .cell.arrow {
    background-image: url(/assets/img/arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 
  }
  .cell.unknown {
    background-image: url(/assets/img/question.png);
    background-repeat: no-repeat;
    background-size: 100% 
  }

.disabled {
  pointer-events: none;
  cursor: not-allowed; 
}

#diamond_container {
  margin: auto;
  margin-top: 30px;
}

#diamond_container td {
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
  border: 1px solid black;
  display: inline-block;
  margin: 2px;
  width: 60px;
  height: 60px;
}

.cell:hover {
  opacity: 0.5;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
 td:hover {
  border: 1px solid skyblue;
 }
/* Responsive desings starts */

@media only screen and (max-width: 600px) {
  #diamond_container td {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (min-width: 601px)
and (max-width : 992px) { 
  #diamond_container td {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (min-width: 993px)
and (max-width : 1200px) { 
  #diamond_container td {
    height: 55px;
    width: 55px;
  }
}